@use "../abstracts";

@mixin CenterFlexItem($var) {
    @if $var == center-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    } @else if $var == center-2 {
        display: flex;
        justify-content: center;
    } @else if $var == center-3 {
        display: flex;
        align-items: center;
    }
}

.auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    text-align: center;

    @include abstracts.screen(md) {
        grid-template-columns: 1fr;
    }

    &__intro,
    &__content {
        padding: 0px 30px;
    }

    &__intro {
        @include CenterFlexItem(center-1);
        flex-direction: column;
        row-gap: 50px;
        background-color: var(--auth-intro-bg);
        color: var(--auth-form-color);

        position: relative;

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 60px;
        }

        &-img {
            width: var(--width);
            max-width: 100%;
        }

        &-text {
            max-width: 412px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.6rem; /* 144.444% */

            @include abstracts.screen(md) {
                max-width: 315px;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 2.2rem; /* 146.667% */
            }
        }

        &-next {
            bottom: 50px;
        }
    }

    &__content {
        background-color: var(--auth-content-bg);

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.3s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }
        }

        &-inner {
            @include CenterFlexItem(center-3);
            flex-direction: column;
            margin: 50px auto;
            width: min(460px, 100%);

            @include abstracts.screen(md) {
                margin-top: 30px;
                margin-bottom: 0;
            }
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 4.4rem; /* 146.667% */

        @include abstracts.screen(md) {
            margin-top: 40px;
            font-size: 2.2rem;
            line-height: 3.2rem; /* 145.455% */
        }
    }

    &__message {
        margin-top: 30px;
    }

    &__desc {
        color: var(--auth-form-color);
        padding: 0 20px;
        margin-top: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem; /* 146.667% */

        @include abstracts.screen(md) {
            max-width: 315px;
            padding: 0;
            font-size: 1.4rem;
            line-height: 2rem; /* 142.857% */
        }
    }

    &__form {
        width: 100%;
        margin-top: 60px;

        &-forgot {
            margin-top: 30px;
        }

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem; /* 146.667% */

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        width: 100%;

        & + & {
            color: var(--auth-form-color);
            column-gap: 10px;
            align-items: flex-start;
            margin-top: 30px;

            @include abstracts.screen(md) {
                margin-top: 20px;
            }

            .btn-icon {
                filter: var(--auth-icon-google);
            }
        }

        &-group {
            margin-top: 50px !important;

            @include abstracts.screen(md) {
                margin-top: 30px !important;
            }
        }
    }

    &__text {
        color: var(--auth-form-color);
        margin-top: 108px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.6rem; /* 144.444% */

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            margin-top: 40px;
        }

        .auth__link {
            font-size: inherit;
        }
    }
}
