@use "../abstracts";
html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(154deg)
        brightness(103%) contrast(102%);

    --body-bg-color: #292e39;

    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    --arrow-filter: brightness(0) saturate(100%) invert(14%) sepia(14%) saturate(865%) hue-rotate(183deg)
        brightness(102%) contrast(90%);

    // cart preview
    --cart-preview-bg: #292e39;
    --cart-preview-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
    --cart-preview-separate: #171c28;

    //Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(14%) saturate(887%)
        hue-rotate(185deg) brightness(95%) contrast(88%);

    --top-menu-border-color: #171c28;

    --menu-column-heading-color: #b9babe;
    --menu-column-link-color: #b9babe;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(1149%)
        hue-rotate(179deg) brightness(100%) contrast(97%);

    //Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    //Category item
    --cate-item-bg: #171c28;
    --cate-item-thum-bg: #292e39;
    --cate-item-hading-color: #fff;
    --cate-item-title-color: #fff;
    --cate-item-title-desc: #fff;

    // Filter btn
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;
    --filter-btn-icon-color: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(21%)
        hue-rotate(338deg) brightness(104%) contrast(107%);
    --like-btn-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
    --like-btn-bg: #292e39;

    // Product cart
    --product-cart-bg: #171c28;
    --product-cart-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    --product-cart-body-color: #fff;

    // Filter form
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.5);
    --filter-form-color: #fff;
    --form-tag-bg: #171c28;
    --filter-form-arrow-color: brightness(0) saturate(100%) invert(13%) sepia(5%) saturate(3292%)
        hue-rotate(184deg) brightness(95%) contrast(85%);

    // Footer
    --footer-border-color: #9e9da8;
    --footer-bg: #171c28;

    // Sign up

    --auth-content-bg: #292e39;
    --auth-form-color: #b9babe;
    --auth-intro-bg: #171c28;
    --auth-form-border-color: #b9babe;
    --auth-icon-google: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(251%) hue-rotate(268deg)
        brightness(93%) contrast(91%);

    // Product-detail
    --product-container-bg: #171c28;

    --product-detail-bg: #292e39;
    --breadcrumbs-bg: #171c28;
    --product-container-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);
    --breadcrumbs-item-last-color: #fff;

    // Product info
    --product-info-bg: #171c28;
    --product-tag-bg: #292e39;

    --product-preview-hover-border-color: #a796d2;

    --product-preview-current-shadow: rgba(255, 255, 255, 0.25) 0px 25px 50px -12px;

    --product-container-info-bg: #171c28;

    // Product tab

    --product-tab-item-current-color: #fff;
    --product-tab-color: #fff;

    //Review card
    --review-card-bg: #171c28;

    // Content text
    --content-text-bg: #292e39;
    --content-text-blockquote-bg: rgb(89, 95, 41);

    // Checkout
    --checkout-container-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);
    --checkout-primary-bg: #171c28;
    --checkout-primary-color: #b9babe;
    --checkout-border-color: #292e39;
    --checkout-separate: #292e39;
    --checkout-separate-shipping: #292e39;

    --checkout-text-shadow: 3px 0px 3px rgba(145, 158, 163, 0.56);

    // Gift item
    --gift-item-bg: rgb(41, 46, 57);
    --gift-item-shadow: 0px 20px 60px 10px rgba(41, 46, 57, 0.2);

    // Dialog
    --dialog-content-bg: #171c28;
    --dialog-content-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);
    --dialog-select-border: #292e39;
}
