@use "../abstracts";

html {
    ::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.2);
    }

    ::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
        margin-block: 0.5rem;
    }

    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(15%) saturate(2387%) hue-rotate(210deg) brightness(97%)
        contrast(97%);

    --body-bg-color: #f6f6f6;

    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    //Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #d2d1d6;

    //Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    //Category item
    --cate-item-bg: #eee;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    --cate-item-thum-bg: #fff;
    --cate-item-hading-color: #1a162e;
    --cate-item-title-color: #000;
    --cate-item-title-desc: #1a162e;

    // Filter btn
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    --like-btn-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
    --like-btn-bg: #fff;
    --like-btn-icon-color: brightness(0) saturate(100%) invert(5%) sepia(70%) saturate(1372%) hue-rotate(227deg)
        brightness(101%) contrast(93%);

    // Product cart
    --product-cart-bg: #fff;
    --product-cart-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --product-cart-body-color: #1a162e;

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.5);
    --filter-form-color: #1a162e;
    --filter-form-tag-bg: #f8f8fb;

    // Footer
    --footer-border-color: #171c28;

    // --------------------------------------------- Sign up -----------------------------------------------

    --auth-content-bg: #fff;
    --auth-form-color: #9e9da8;
    --auth-form-border-color: #d2d1d6;
    --auth-intro-bg: #fafafd;

    @include abstracts.screen(md) {
        background-color: #fff;
    }
}
