@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(15%) saturate(2387%) hue-rotate(210deg)
        brightness(97%) contrast(97%);

    --body-bg-color: #f6f6f6;

    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    --arrow-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(345deg)
        brightness(105%) contrast(101%);

    // cart preview
    --cart-preview-bg: #fff;
    --cart-preview-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    --cart-preview-separate: #d2d1d6;

    //Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #d2d1d6;

    //Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    //Category item
    --cate-item-bg: #eee;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    --cate-item-thum-bg: #fff;
    --cate-item-hading-color: #1a162e;
    --cate-item-title-color: #000;
    --cate-item-title-desc: #1a162e;

    // Filter btn
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    --like-btn-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
    --like-btn-bg: #fff;
    --like-btn-icon-color: brightness(0) saturate(100%) invert(5%) sepia(70%) saturate(1372%)
        hue-rotate(227deg) brightness(101%) contrast(93%);

    // Product cart
    --product-cart-bg: #fff;
    --product-cart-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --product-cart-body-color: #1a162e;

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.5);
    --filter-form-color: #1a162e;
    --form-tag-bg: #f8f8fb;

    // Footer
    --footer-bg: #f6f6f6;
    --footer-border-color: #171c28;

    // Sign up

    --auth-content-bg: #fff;
    --auth-form-color: #9e9da8;
    --auth-form-border-color: #d2d1d6;
    --auth-intro-bg: #fafafd;

    @include abstracts.screen(md) {
        background-color: #fff;
    }

    //Product

    --product-container-bg: #fff;

    // Product detail
    --product-detail-bg: #fff;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }
    --product-container-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --breadcrumbs-item-last-color: #1a162e;

    // Product info
    --product-info-bg: #f6f6f6;
    @include abstracts.screen(md) {
        --product-info-bg: #fff;
    }

    --product-tag-bg: #ededf6;

    --product-preview-hover-border-color: #2c2f65;
    --product-preview-current-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    --product-container-info-bg: #fff;

    // Product tab
    --product-tab-item-current-color: #1a162e;
    --product-tab-color: #1a162e;

    //Review card
    --review-card-bg: #fafafd;

    @include abstracts.screen(md) {
        --review-card-bg: #fff;
    }

    // Content text
    --content-text-bg: #fafafd;
    @include abstracts.screen(md) {
        --content-text-bg: #fff;
    }
    --content-text-blockquote-bg: rgb(208, 230, 243);

    // Checkout
    --checkout-container-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --checkout-primary-bg: #fff;
    --checkout-border-color: #d2d1d6;
    --checkout-separate: #d2d1d6;
    --checkout-separate-shipping: #9e9da8;

    --checkout-text-shadow: 3px 0px 3px rgba(115, 124, 121, 0.501);

    // Gift item
    --gift-item-bg: rgb(241, 236, 252);
    --gift-item-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

    // Dialog
    --dialog-content-bg: #fff;
    --dialog-content-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --dialog-select-border: #d2d1d6;
}
