@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--header-bg-color);
}

.top-bar {
    @extend %flexItemCenter;
    padding: 30px 0;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }

    @include abstracts.breakpoint(md) {
        justify-content: space-between;
    }

    @include abstracts.breakpoint(sm) {
        justify-content: space-between;
        padding: 16px 20px;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 144px;

    @include abstracts.breakpoint(xl) {
        margin-left: 50px;
    }

    @include abstracts.breakpoint(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemCenter;
        column-gap: 30px;
    }

    &__link {
        display: flex;
        column-gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;
    }
}

.top-act {
    @extend %flexItemCenter;

    margin-left: auto;
    column-gap: 20px;

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemCenter;

        @include abstracts.breakpoint(md) {
            display: none;
        }

        border-radius: 8px;
        background-color: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    }

    &__group--single &__btn {
        padding: 13px;

        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__separate {
        width: 1px;
        height: 30px;
        background-color: var(--top-act-group-separate);
    }

    &__btn {
        @extend %flexItemCenter;
        padding: 13px 20px;
        column-gap: 10px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.67;
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }
}
