@use "../abstracts";

$inner-padding: 30px;
$main-column-width: 292px;
$max-inner-height: calc(min(582px, (100vh - 134px)) - $inner-padding * 2);

.dropdown {
    position: absolute;
    right: 0;
    left: 0;

    width: min(1240px, 100%);
    padding-top: 54px;
    display: none;

    @include abstracts.screen(lg) {
        position: static;
        padding-top: 0;
    }

    &__inner {
        position: relative;
        padding: $inner-padding;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            content: url("../icon/Dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50% 0;
            filter: var(--dropdown-arrow-color);
        }

        @include abstracts.screen(lg) {
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;
            overflow-y: auto;
            padding: 0;
            &::before {
                content: none;
            }
        }
    }

    //Custom scrollbar
    & ::-webkit-scrollbar {
        border-radius: 0;
        width: 4px;
    }

    & ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.1);
    }
}

.top-menu {
    position: relative;
    &__main {
        overflow-y: auto;
        width: $main-column-width;
        height: $max-inner-height;
        border-right: 1px solid var(--top-menu-border-color);

        @include abstracts.screen(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    & + & {
        margin-top: 22px;
    }

    @include abstracts.screen(lg) {
        margin-top: 10px;
    }

    &__icon {
        position: relative;

        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.screen(xl) {
            display: none;
        }
        @include abstracts.screen(lg) {
            display: block;
        }
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 21px;
        height: 21px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }

    &__heading {
        $heading-height: 32px;

        height: $heading-height;
        line-height: $heading-height;
        color: var(--menu-column-heading-color);
        font-size: 1.6rem;
        font-weight: 500;

        @include abstracts.screen(lg) {
            margin-bottom: 26px;
        }
    }

    &__list {
        margin-top: 14px;

        @include abstracts.screen(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__Link,
    &__item:hover > &__Link {
        color: #0071dc;
        font-weight: 600;
    }

    &__Link {
        display: block;
        padding: 7px 0;
        font-size: 14px;
        line-height: 1.43;
        font-weight: 400;
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 $main-column-width;

    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 77px;

    padding-left: $inner-padding;
    overflow-y: auto;

    @include abstracts.screen(lg) {
        position: static;
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    &--not-main {
        position: static;
        inset: initial;
        height: $max-inner-height;
        grid-template-columns: repeat(4, 1fr);
        display: grid;

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
            height: auto;
        }
    }
}
