@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    top: 60px;
    right: 0;

    padding: 30px;
    background-color: var(--filter-form-bg);
    border-radius: 20px;
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
    transition: opacity 0.15s, visibility 0.15s;

    overscroll-behavior: contain;

    @include abstracts.screen(xl) {
        padding: 42px 0 20px;
    }

    @include abstracts.screen(sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;
    }

    &__arrow {
        position: absolute;
        width: 45px;
        top: -18px;
        right: 24px;
        filter: var(--filter-form-arrow-color);
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__heading {
        color: var(--filter-form-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 3.2rem; /* 145.455% */
        margin-bottom: 30px;

        @include abstracts.screen(xl) {
            padding: 0 20px;
        }

        @include abstracts.screen(sm) {
            margin-bottom: 20px;
        }
    }

    &__form {
        &-label {
            display: block;

            color: var(--filter-form-color);
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 3.2rem; /* 145.455% */

            &--small {
                margin-bottom: 10px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 2rem; /* 142.857% */
            }
        }

        &-slider {
            position: relative;
            width: 272px;
            height: 2px;
            background-color: #d2d1d6;

            @include abstracts.screen(xl) {
                width: 100%;
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;

                background-color: #fff;
                width: 22px;
                height: 22px;
                border: 6px solid #ffb700;
                border-radius: 50%;
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-group {
            margin-top: var(--margin-top, 30px);
            padding: 0 10px;
        }

        &-group--horizontal {
            display: grid;
            grid-template-columns: 1fr 1fr;

            column-gap: 30px;
        }

        &-input {
            width: 100%;
            color: var(--filter-form-color);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 2rem; /* 142.857% */
            border-radius: 6px;
            overflow: hidden;

            &::placeholder {
                color: #9e9da8;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 2.2rem; /* 146.667% */
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
            }
        }

        &-separate {
            width: 1px;
            height: 35px;
            margin: 0 14px;
            background-color: #d2d1d6;
        }

        &-select-wrap {
            display: flex;
            align-items: center;

            width: 272px;
            padding: 5px 14px;
            border-radius: 6px;
            border: 1px solid #d2d1d6;

            @include abstracts.screen(xl) {
                width: 100%;
            }
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;

            min-width: var(--width, 80px);

            color: var(--filter-form-color);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 2rem; /* 142.857% */
            cursor: pointer;

            @include abstracts.screen(sm) {
                font-size: 1.5rem;
            }

            @include abstracts.screen(xl) {
                flex: 1;
            }
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;

            @include abstracts.screen(lg) {
                gap: 9px 15px;
            }
        }

        &-tag {
            padding: 6px 12px;
            color: #9e9da8;
            border-radius: 6px;
            border: none;
            background-color: var(--filter-form-tag-bg);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 2rem; /* 142.857% */

            @include abstracts.screen(sm) {
                font-weight: 400;
            }

            &:hover {
                color: #fff;
            }
        }

        &-text-input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 334px;
            padding: 10px 16px;
            border-radius: 6px;
            border: 1px solid #d2d1d6;

            @include abstracts.screen(xl) {
                width: 100%;
            }

            &--small {
                font-size: 1.4rem;
                padding: 8px 12px;
                width: 121px;
                @include abstracts.screen(xl) {
                    width: 100%;
                }
            }
        }
    }

    &__row {
        display: flex;
    }
    &__separate {
        width: 1px;
        height: 162px;
        background-color: #eee;
        margin: 0 30px;
        flex-shrink: 0;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 1px;

            margin: 30px 0;
        }
    }

    &__footer {
        position: relative;
        background-color: var(--filter-form-bg);

        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 32px;

        @include abstracts.screen(xl) {
            padding: 10px 20px 0;
            margin-top: 10px;
        }

        @include abstracts.screen(sm) {
            position: sticky;
            bottom: 0;
            justify-content: space-around;
            padding-bottom: 10px;
        }
    }

    &__cancel,
    &__submit {
        padding: 9px 10px;
    }

    &__submit {
        font-size: 1.5rem;
    }

    &__content {
        overflow-y: auto;
        max-height: calc(100vh - 174px);
        overscroll-behavior: contain;

        @include abstracts.screen(xl) {
            flex-direction: column;
            padding: 0 20px;
        }
    }
}
