<div class="container">
    <div class="footer__inner">
        <div class="footer__logo">
            <a href="" class="logo footer__logo-left">
                <img src="./assets/icon/logo.svg" alt="" class="logo__img" />
                <h2 class="logo__title">grocerymart</h2>
            </a>
        </div>
        <section class="footer__row">
            <div class="footer__col">
                <h3 class="footer__heading">INFO</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Formats</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Compression</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Pricing</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">FAQ</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Status</a>
                    </li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">RESOURCES</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Developer API</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Tools</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">COMPANY</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">About Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Sustainability</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Terms of Service</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                </ul>
            </div>

            <div class="footer__col">
                <div class="footer__title">Subscribe to our email newsletter</div>
                <form action="" class="footer__form">
                    <input type="email" name="" id="" class="footer__form-input" placeholder="Your email" />
                    <button class="btn footer__form-submit">SUBSCRIBE</button>
                </form>
                <span class="footer__title">Follow us</span>
                <div class="footer__social">
                    <div class="footer__social-icon">
                        <img src="./assets/icon/facebook-icon.png" alt="" class="footer__social-img" />
                    </div>

                    <div class="footer__social-icon">
                        <img src="./assets/icon/x.png" alt="" class="footer__social-icon" />
                    </div>

                    <div class="footer__social-icon">
                        <img src="./assets/icon/instagra-icon.jpg" alt="" class="footer__social-icon" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
